@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}

.page{
  padding:2rem;
}

.counter{
  border:1px solid white;
  padding: 16px;
  width:220px;
  border-radius:8px;
  margin-bottom: 2rem;
}

button{
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}

button:disabled{
  opacity:0.5;
  cursor:not-allowed;
}

.step-label{
  width:50px;
  margin-left:5px;
}


